.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  width: 800px;
}

.todos-board {
  width: 100%;
  border-top: 1px solid rgba(171, 177, 193, .5); /* #abb1c1 */
  border-left: 1px solid rgba(171, 177, 193, .5);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #abb1c1;
  overflow: hidden;
}

.todos-board__heading {
  margin: 0 0 20px;
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 65px;
  line-height: 67px;
  color: #00996f;
}

.todos-board__tasks-wrap {
  box-sizing: border-box;
  padding: 20px;
  border-top: 1px solid rgba(171, 177, 193, .5); /* #abb1c1 */
}

.radio-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.todos-board__scroll-wrap {
  padding-right: 10px;
  max-height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #abb1c1 rgba(171, 177, 193, .5); /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}

.todos-board__scroll-wrap::-webkit-scrollbar {
  width: 6px;
  height: 0;
  border: 1px solid rgba(171, 177, 193, .5);
  border-radius: 30px;
}

/* ползунок скроллбара */
.todos-board__scroll-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(171, 177, 193, .5);
  border-radius: 50px;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task__checkbox {
  /* скрыть дефолтный чекбокс */
  -webkit-appearance: none;
  appearance: none;
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: 0.25s ease;
}

.task__checkbox::before {
  box-sizing: border-box;
  display: flex;
  content: '';
  background-color: #fff;
  width: 40px;
  height: 40px;
  border: 2px solid #abb1c1;
  border-radius: 50%;
  transition: box-shadow 0.25s ease;
}

.task__checkbox:checked::before {
  border: 2px solid #00996f;
  background: url(../../images/tick.svg) center center no-repeat;
}

.task__cross-button {
  all: unset;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(../../images/cross-black.svg) center center no-repeat;
  transition: background-image .2s;
  transform: translate(0, -50%);
}

.task__cross-button:hover {
  background: url(../../images/cross-green.svg) center center no-repeat;
}
